.hover-box-shadow {
    transition: width ease-in-out 2s;
    -moz-transition: width ease-in-out 2s; /* Firefox 4 */
    -webkit-transition: width ease-in-out 2s; /* Safari and Chrome */
    -o-transition: width ease-in-out 2s; /* Opera */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 10px 0 rgba(40, 40, 40, 0.08);
}
.hover-box-shadow:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.22), 0 2px 20px 0 rgba(40, 40, 40, 0.14);
}

.card-blog {
    border: none;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: all .25s ease-in-out 0s;
}

.card-blog:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all .25s ease-in-out 0s;
    -webkit-transform: scale(1.05);
}

.div-message {
    border-left:3px solid #697a82;
    background-color:#f6f6f6
}

.div-desc {
    padding: 10px 0 10px 10px;
}

.btn-grey {
    background-color: #ececec
}
.btn-grey:hover {
    background-color: #dddddd
}

